<div class="c-cart" id="cart">
  <a href="/" class="btn btn-primary">Volver a Home</a>
  <div id="cart-header" class="c-cart-header"><h1>ID de carrito:
      <span>{{cartId}}</span></h1></div>
  <div id="products" class="c-cart-body">

  </div>
  <div id="cart-purchase" class="btn btn-primary">Confirmar Compra</div>
  <div id="purchase-msg"></div>
</div>

<script src="/js/cartView.js"></script>