<div class="c-cart" id="cart">
  <div id="cart-header" class="c-cart-header"><h1>ID de carrito:
      <span>{{cartId}}</span></h1></div>
  <div id="products" class="c-cart-body">

  </div>
</div>

<script src="/js/cartView.js"></script>