<div class="login-container">
  {{#if failed}}
    <p class="text-danger text-center">Usuario o contrase침a incorrecto.</p>
  {{/if}}
  <form action="/api/sessions/logIn" method="get">

    <label for="email">Correo Electr칩nico:</label><br />
    <input
      class="input-field"
      type="email"
      id="email"
      name="email"
      required
    /><br />

    <label for="password">Contrase침a:</label><br />
    <input
      class="input-field"
      type="password"
      id="password"
      name="password"
      required
    /><br />

    <button class="btn btn-primary" type="submit">Ingresar</button><br />
    <a class="btn btn-github" href="/api/sessions/github">Ingresar con Github</a><br
    />
    <a class="btn btn-primary" href="/signIn">Registrarse</a><br />
    <a class="btn btn-primary" href="/restorePasswordMail">Recuperar contrase침a</a><br
    />

  </form>
</div>