<h1>Logueate aquí</h1>
{{#if failed}}
  <h1>Usuario o contraseña incorrecto.</h1>
{{/if}}
<form action="/api/sessions/logIn" method="get">

  <label for="email">Correo Electrónico:</label><br />
  <input type="email" id="email" name="email" required /><br />

  <label for="password">Contraseña:</label><br />
  <input type="password" id="password" name="password" required /><br />

  <button type="submit">Ingresar</button>

</form>
<a href="/signIn">Registrarse</a><br />
<br />
<a href="/api/sessions/github">Ingresar con Github</a>