<div class="profile-container">
  <h1 class="center"><u class="display-2">Mi perfil</u></h1>
  <div class="profile-info">
    <h3 class="display-6">Nombre: {{user.first_name}}</h3>
    <h3 class="display-6">Apellido: {{user.last_name}}</h3>
    <h3 class="display-6">Edad: {{user.age}}</h3>
  </div>
</div>