{{! div con ID para poder conectar con la manipulacion del DOM en mi archivo realTimeProducts.js }}
<div id="lista" class="product-container">

  {{! Aca se mostrará lo que se resuelva de mi realTimeProducts.js }}
</div>
{{! script para utilizar socket  }}
<script src="/socket.io/socket.io.js"></script>
{{! script para conectar con la logica de mi realTimeProducts.js }}
<script src="/js/realTimeProducts.js"></script>