<div class="login-container">
  {{#if failed}}
    <p class="text-danger text-center">Usuario o contraseña incorrecto.</p>
  {{/if}}
  <form action="/api/sessions/restorePasswordMail" method="post">

    <label for="email">Correo Electrónico:</label><br />
    <input
      class="input-field"
      type="email"
      id="email"
      name="email"
      required
    /><br />

    <button class="btn btn-primary" type="submit">Enviar mail de recuperación</button><br
    />

  </form>
</div>