<div class="login-container">
  {{#if failed}}
    <p class="text-danger text-center">Usuario o contraseña incorrecto.</p>
  {{/if}}
  <form action="/api/users/updatePass" method="post">

    <label for="password">Ingrese nueva contraseña</label><br />
    <input
      class="input-field"
      type="password"
      id="password"
      name="password"
      required
    /><br />

    <button class="btn btn-primary" type="submit">Cambiar contraseña</button><br
    />

  </form>
</div>