.c-cart {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 50px;
  margin: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.c-cart-header {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.body {
  padding: 10px 0;
}

.c-cart-body .product {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.c-cart-body .product:last-child {
  border-bottom: none;
}

.product h4 {
  margin-bottom: 5px;
}

.product p {
  margin-bottom: 0;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input-field {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  margin-bottom: 10px;
}

.btn-github {
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.user-info {
  text-align: center;
  margin-top: 20px;
}

.user-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.profile-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #61ea71;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  margin-top: 20px;
}
